prefer-no-csd

spawn-sh-at-startup "swaybg -i .config/wallpaper/wallpaper"
spawn-sh-at-startup "waybar"
spawn-sh-at-startup "kitty -e zsh -c 'fastfetch; exec zsh'"

cursor {
	xcursor-theme "breeze_cursors"
	xcursor-size 24
	hide-after-inactive-ms 2000
}

hotkey-overlay {
	skip-at-startup
}

input {
	keyboard {
		xkb{
		}
		numlock
	}
	touchpad {
		off
	}
	mouse {
		accel-profile "flat"
	}
	focus-follows-mouse max-scroll-amount="0%"
}
output "eDP-1" {
	mode "2560x1600@120.017"
	scale 1.25
	transform "normal"
	position x=0 y=0
	focus-at-startup
}

layout {
	gaps 7
	center-focused-column "never"
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}
	default-column-width { proportion 0.5; }
	focus-ring {
		width 3
		active-color "#81d8d0"
		inactive-color "#a9b1d6"
	}
	/-border {
		width 3
		active-color "#ffc87f"
		inactive-color "#505050"
		urgent-color "9b0000"
	}
	shadow {
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}
}

window-rule {
	geometry-corner-radius 8
	clip-to-geometry true
	draw-border-with-background false
}

binds {
	Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn-sh "kitty -e zsh"; }
	Mod+D hotkey-overlay-title="Run an Application: wofi" { spawn-sh "pkill wofi || wofi --show drun"; }
	Super+Alt+L hotkey-overlay-title="Lock the Screen: wlogout" { spawn-sh "pkill hyprlock || hyprlock"; }

	Mod+O repeat=false { toggle-overview; }
	Mod+Q repeat=false { close-window; }
	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }
	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }
	Mod+C { center-column; }
	Mod+Shift+C { center-visible-columns; }
	Mod+V { toggle-window-floating; }
	Mod+Shift+V { switch-focus-between-floating-and-tiling; }
	Mod+W { toggle-column-tabbed-display; }
	Mod+Shift+P { power-off-monitors; }
	Mod+Shift+E { quit; }

	Print { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }

	Mod+Left  { focus-column-left; }
	Mod+Down  { focus-window-down; }
	Mod+Up    { focus-window-up; }
	Mod+Right { focus-column-right; }
	Ctrl+B    { focus-column-left; }
	Ctrl+N    { focus-window-down; }
	Ctrl+P    { focus-window-up; }
	Ctrl+F    { focus-column-right; }
	
	Mod+Shift+Left  { move-column-left; }
	Mod+Shift+Down  { move-window-down; }
	Mod+Shift+Up    { move-window-up; }
	Mod+Shift+Right { move-column-right; }
	Ctrl+Shift+B     { move-column-left; }
	Ctrl+Shift+N     { move-window-down; }
	Ctrl+Shift+P     { move-window-up; }
	Ctrl+Shift+F     { move-column-right; }

	Mod+Ctrl+Left  { focus-monitor-left; }
	Mod+Ctrl+Down  { focus-monitor-down; }
	Mod+Ctrl+Up    { focus-monitor-up; }
	Mod+Ctrl+Right { focus-monitor-right; }
	Mod+Ctrl+B     { focus-monitor-left; }
	Mod+Ctrl+N     { focus-monitor-down; }
	Mod+Ctrl+P     { focus-monitor-up; }
	Mod+Ctrl+F     { focus-monitor-right; }

	Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
	Mod+Shift+Ctrl+B     { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+N     { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+P     { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+F     { move-column-to-monitor-right; }
	
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }

	Mod+Shift+1 { move-column-to-workspace 1; }
	Mod+Shift+2 { move-column-to-workspace 2; }
	Mod+Shift+3 { move-column-to-workspace 3; }
	Mod+Shift+4 { move-column-to-workspace 4; }
	Mod+Shift+5 { move-column-to-workspace 5; }
	Mod+Shift+6 { move-column-to-workspace 6; }
	Mod+Shift+7 { move-column-to-workspace 7; }
	Mod+Shift+8 { move-column-to-workspace 8; }
	Mod+Shift+9 { move-column-to-workspace 9; }
}
